<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>

<body>
<div>

    <a href="http://localhost:8080/admin/register">
        <button id="register" name="redister">new user</button>
    </a>
    <a href="http://localhost:8080/admin/addroletouser">
        <button id="ARTU" name="ARTU">Add Role To User</button>
    </a>
    <p>bla bla bla</p>
</div>

</body>
</html>