<div>
    <div class="container text-center">
        <div>
            <h1>User Registration - Sign Up</h1>
        </div>
        <form id="form"
              method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label" for="name">Name: </label>
                    <div class="col-8">
                        <input id="name" type="text" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label" for="username">username: </label>
                    <div class="col-8">
                        <input id="username" type="text" class="form-control"
                               required minlength="2" maxlength="20"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">password: </label>
                    <div class="col-8">
                        <input id="password" type="password" class="form-control"
                               required minlength="0" maxlength="10"/>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        const myForm = document.getElementById("form");
        myForm.addEventListener('submit',function (e) {
            e.preventDefault();

            const myData = {id: "null",
                name:document.getElementById('name').value,
                username: document.getElementById('username').value,
                password: document.getElementById('password').value,
                roles: []}


            const myHeaders = new Headers();
            myHeaders.append('Content-Type','application/json');
            myHeaders.append('accept','application/json');


            const  myRequest = new Request(
                'http://localhost:8080/api/user/save',
                {method:'POST',
                    headers:myHeaders,
                    body:JSON.stringify(myData)}
            );
            postAnotherPage(myRequest);


        })
    </script>

</div>