<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>

    <link href="../static/lib/font-awesome/css/font-awesome.css" th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet">
    <link href="../static/lib/Ionicons/css/ionicons.css"  th:href="@{/lib/Ionicons/css/ionicons.css}" rel="stylesheet">
    <link href="../static/lib/perfect-scrollbar/css/perfect-scrollbar.css"  th:href="@{/lib/perfect-scrollbar/css/perfect-scrollbar.css}" rel="stylesheet">
    <link href="../static/lib/rickshaw/rickshaw.min.css"  th:href="@{/lib/rickshaw/rickshaw.min.css}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap4/bootstrap.min.css "th:href="@{/styles/bootstrap4/bootstrap.min.css }">
    <link href="../static/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css "th:href="@{/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/plugins/OwlCarousel2-2.2.1/owl.carousel.css "th:href="@{/OwlCarousel2-2.2.1/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" href="../static/plugins/OwlCarousel2-2.2.1/owl.theme.default.css "th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
    <link rel="stylesheet" type="text/css" href="../static/plugins/OwlCarousel2-2.2.1/animate.css "th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
    <link rel="stylesheet" type="text/css" href="../static/plugins/slick-1.8.0/slick.css "th:href="@{/plugins/slick-1.8.0/slick.css}">
    <link rel="stylesheet" type="text/css" href="../static/styles/main_styles.css "th:href="@{/styles/main_styles.css}">
    <link rel="stylesheet" type="text/css" href="../static/styles/responsive.css "th:href="@{/styles/responsive.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">


    <!-- Starlight CSS -->
    <link rel="stylesheet" href="../static/css/starlight.css"  th:href="@{/css/starlight.css}">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">

    <link href="../static/lib/highlightjs/github.css"  th:href="@{/lib/highlightjs/github.css}" rel="stylesheet">
    <link href="../static/lib/datatables/jquery.dataTables.css"  th:href="@{/lib/datatables/jquery.dataTables.css}" rel="stylesheet">
    <link href="../static/lib/select2/css/select2.min.css"  th:href="@{/lib/datatables/jquery.dataTables.css}" rel="stylesheet">
    <link href="../static/lib/summernote/summernote-lite.css"  th:href="@{/lib/summernote/summernote-lite.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css"  rel="stylesheet">
</head>

<body>

</body>

</html>
