<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jwtHandler.js}"></script>

</head>
<body>
<div>

    <form id="form"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label" for="currentPass">CurrentPass: </label>
                <div class="col-8">
                    <input id="currentPass" type="text" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-4 col-form-label" for="newPass">Role: </label>
                <div class="col-8">
                    <input id="newPass" type="text" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>

        </div>
    </form>



    <script>
        const myForm = document.getElementById("form");
        myForm.addEventListener('submit',function (e) {
            e.preventDefault();
            const myHeaders = new Headers();
            myHeaders.append('Content-Type', 'application/json');
            myHeaders.append('accept', 'application/json');

            const oldAndNewPassword = {
                "currentPass": document.getElementById('currentPass').value,
                "newPass": document.getElementById('newPass').value
            }

            const myChangePasswordRequest = new Request(
                'http://localhost:8080/api/user/update/password',
                {method: 'POST', headers: myHeaders, body: JSON.stringify(oldAndNewPassword)}
            )
            postAnotherPage(myChangePasswordRequest);
        })
    </script>

</div>
</body>
</html>