<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery.min.js}"></script>
<!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" integrity="sha512-aUhL2xOCrpLEuGD5f6tgHbLYEXRpYZ8G5yD+WlFrXrPy2IrWBlu6bih5C9H6qGsgqnU6mgx6KtU8TreHpASprw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<script>
    window.onload = function () {
        if ($.cookie('access_token') != null){

            const myRequest = new Request(
                'http://localhost:8080/',
                {method:'GET'}
            );
            fetch(myRequest).then(function (response) {
                return response.json();
            }).then(function (json) {
                if (json.error_message != null){
                    callRefreshToken();
                }
            })

        }

        function callRefreshToken() {
            const refreshRequest = new Request('http://localhost:8080/api/token/refresh',{method:'GET'});
            fetch(refreshRequest).then(function (response) {
                return response.json();
            }).then(function (json) {
                $.cookie('access_token', json.access_token, {path:'/'});
                $.cookie('refresh_token', json.refresh_token, {path:'/'});

                document.location = 'http://localhost:8080/'
            })
        }
    }
</script>
<body>
<p >Welcome !!!</p>


<form id="form">
    <input type="text" name="username" id="username">
    <input type="password" name="password" id="password">
    <input type="submit" name="submit" value="Log In">
</form>

</body>

<script>
    const myForm = document.getElementById('form');
    myForm.addEventListener('submit',function (e) {
        e.preventDefault();
        const formData = new FormData(this);
        const myHeaders = new Headers();
        myHeaders.append('contentType','application/x-www-form-urlencoded');
        const myRequest = new Request('http://localhost:8080/login',
            {method:'POST',
                headers:myHeaders,
                body:formData}
        )
        fetch(myRequest).then(function (response) {
            return response.json();
        }).then(function (json) {
            $.cookie('access_token', json.access_token, {path:'/'});
            $.cookie('refresh_token', json.refresh_token, {path:'/'});
            document.location = 'http://localhost:8080/'
/*          localStorage.setItem('access_token',json.access_token);
            localStorage.setItem('refresh_token',json.refresh_token);*/
        }).catch(function (error) {
            console.error(error);

        })
    });
</script>



</html>
<!--


<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Messages : Create</title>
</head>
<body>
<div tiles:fragment="content">
    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <legend>Please Login</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
            <div class="form-actions">
                <button type="submit" class="btn">Log in</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>
-->
